
<div ng-controller="forgetPassCtrl">
<form name="forgetPasswordForm" novalidate>
<div class="forget-password" align="center">
   
   <p  class="ek-name">EK-ELECTRONIC</p>
   <div class="forget-link-header">FORGORT YOUR PASSWORD?</div>
   
     <div class="forget-pass-link-info">
        <div class="foregt-pass-text">Don't Worry!! Just fill in your email and we will help you reset your password</div>
        <div class="email">Enter Your Email Id</div>
        <div style="text-align: left;"><input type="email" placeholder="EMAIL ID" class="input-email" name="email" required="true"></div>
        <div ng-show="forgetPasswordForm.email.required.$error">Please Enter Email Id</div>
				
        <div class=""><button type="button" class="send-email-btn" ng-click="submitPassword(forgetPasswordForm.$valid,$event)">SEND EMAIL</button></div>
     </div>
     <div class="forget-link-footer" ng-click="backToLogin()">BACK TO LOGIN</div>
</div>
</form>
</div>