<div ng-controller="homectrl">
<div ng-repeat="data in data">
    <div style="color: red">Id:-{{data.content}}</div>
    <div style="color: blue;">Name:-{{data.id}}</div>
</div>
<div class="erp-information">
  <div class="erp-wlcome-label">WELCOME TO EK ELECTRONICS</div>
  <!-- <div>
  <span>
  <img alt="" src="image/wire-harness-500x500.jpg" width="400px" height="250px">
  </span>
  <span>
  <img alt="" src="image/copper-flexible-cable-250x250.jpg" width="400px" height="250px">
  </span>
  </div> -->
</div>
</div>
