<div ng-controller="notificationUserAssociationCtrl">
	<div class="erp-information">
		<div>
			<md-button class="md-raised md-primary add-new-btn"
				ng-click="addNewNotificationUserAssociation($event)"
				ng-init="populateNotificationUserAssociationList();flag=0">ADD NEW NOTIFICATION USER ASSOCIATION</md-button>
		</div>
		<md-input-container class="md-block" flex-gt-sm type="password" style="margin-left:2%">
		<input type="text" ng-model="searchText" name="password"
			placeholder="Search by Name" class="search-text"> </md-input-container>
			<div class="">
		<h1 class="table-header">NOTIFICATION USER ASSOCIATION LIST</h1>
		<!-- <div style="float: left;" class="total-pages">Current page is {{currentPage+1}} of {{totalNoOfPages()}}</div> -->
		<table id="tableHead"  fixed-header class="scroll-rm-list">
			<thead>
			<tr>
				<th>NO</th>
				<th>NOTIFICATION</th>
				<th>USER</th>
				<th>ACTION</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="notificationUserAsso in notificationUserAssociationList |  filter:searchText | startFrom:currentPage*pageSize | limitTo:pageSize">
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{notificationUserAsso.notificationId.name}}</td>
				<td>{{notificationUserAsso.userId.userId}}</td>
				<td>
				<div class="lock-size" layout="row" layout-align="center center" style="margin-left: -20%;">
					<md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode" >
        				<md-fab-trigger>
					          <md-button class="md-fab" style="background-color: #106CC8;">
					            <i class="material-icons">more_vert</i>
					          </md-button>
        				</md-fab-trigger>
				        <md-fab-actions>
				          <md-button class="md-fab md-raised md-mini actionButton" ng-click="viewNotificationUserAssociationInformation($event,$index)" >
				            <i class="material-icons">launch</i>
				            <md-tooltip>View</md-tooltip>
				          </md-button>
				          <md-button class="md-fab md-raised md-mini actionButton"  ng-click="editNotificationUserAssociation($event,$index)" 
								ng-init="flag=1"  >
				            <i class="material-icons">mode_edit</i>
				            <md-tooltip>Edit</md-tooltip>
				          </md-button>
				          <md-button class="md-fab md-raised md-mini actionButton"  ng-click="showConfirm($event,$index)">
				            <i class="material-icons">delete</i>
				            <md-tooltip>Delete</md-tooltip>
				          </md-button>
				        </md-fab-actions>
      				</md-fab-speed-dial>	
				</div>
				
				</td>

			</tr>
			</tbody>
		</table>
		<md-dialog-actions layout="row" style="margin-top:60%" class="paginationBtn" ng-show="isPaginationBtnHide"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="gotoPrevPage()">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >= notificationUserAssociationList.length/pageSize - 1" ng-click="gotoNextPage()">Next Page</md-button>
	</md-dialog-actions>
	<div class="total-pages">Total no of pages {{currentPage+1}} / {{totalNoOfPages()}}</div>
	</div>
		<div ng-show="isNotificationPresent">Currently there are no active
			Page.Please add new Page.</div>
	</div>
</div>
