<div ng-controller="pageCtrl">
	<div class="erp-information">
		<div>
			<md-button class="md-raised md-primary add-new-btn"
				ng-click="addNewPage($event);"
				ng-init="populatePageList();flag=0">ADD NEW PAGE</md-button>
		</div>
		<md-input-container class="md-block" flex-gt-sm type="password">
		<input type="text" ng-model="searchText" name="password"
			placeholder="Search by Page Menu" class="search-text"> </md-input-container>
		<div class="">
		<h1 class="table-header">PAGE LIST</h1>
      
      <!--   <div style="float: left;position: absolute;right: 10px;margin-bottom: 10px">
        </div> -->
		<table id="tableHead"  fixed-header class="scroll-rm-list">
		   <thead>
			<tr>
				<th>NO</th>
				<th>MENU</th>
				<th>PAGE NAME</th>
				<th>SUBMENU</th>
				<th>ACTION</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="page in pages | filter:{ pageName: searchText } | startFrom:currentPage*pageSize | limitTo:pageSize ">
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{page.menu}}</td>
				<td>{{page.pageName}}</td>
				<td>{{page.submenu}}</td>
				<td style="">
						   <div class="lock-size" layout="row" layout-align="center center">
					<md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode" >
        				<md-fab-trigger>
					          <md-button class="md-fab" style="background-color: #106CC8;">
					            <i class="material-icons">more_vert</i>
					          </md-button>
        				</md-fab-trigger>

				        <md-fab-actions>
				          <md-button class="md-fab md-raised md-mini actionButton" ng-click="viewPageInformation($event,$index)" >
				            <i class="material-icons">launch</i>
				            <md-tooltip>View</md-tooltip>
				          </md-button>
				          <md-button class="md-fab md-raised md-mini actionButton"  ng-click="editPageInformation($event,$index)" 
								ng-init="flag=1"  >
				            <i class="material-icons">mode_edit</i>
				            <md-tooltip>Edit</md-tooltip>
				          </md-button>
				          <md-button class="md-fab md-raised md-mini actionButton"   ng-click="showConfirm($event,$index)">
				            <i class="material-icons">delete</i>
				            <md-tooltip>Delete</md-tooltip>
				          </md-button>
				        </md-fab-actions>
      				</md-fab-speed-dial>	
				</div>
						
						</td>

			</tr>
			</tbody>
		</table>
		
		 <md-dialog-actions layout="row" class="paginationBtn" style="margin-top: 60%;"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="gotoPrevPage()" ng-show="isPaginationBtnHide">Previous Page</md-button>
		
		
		 <md-button
		class="md-raised" ng-disabled="(currentPage + 1) == totalNoOfPages()" ng-click="gotoNextPage()" ng-show="isPaginationBtnHide">Next Page</md-button>
	</md-dialog-actions>
	  <div class="total-pages">Total no of pages {{currentPage+1}} / {{totalNoOfPages()}}</div>
	</div>
		<div ng-show="isPagePresent">Currently there are no active
			Page.Please add new Page.</div>
	</div>
</div>