<md-dialog class="unit-dialogue">
<form name="unitInformation" novalidate ng-init="getQcGuideLine()">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>Product Quality Quality Check Guideline</h2>
		<span flex></span>
		<md-button class="cancel" ng-click="cancel()"> <md-icon
			>&#10006;</md-icon>
		</md-button>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<div class="md-dialog-content">
		
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row"> 
	<md-button class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
	</md-dialog-actions>

</form>
</md-dialog>






