<div ng-controller="qualityInspectionCtrl">
	<div>
		<div class="qualitycheck">
			<div class="header">INCOMING QUALITY ASSURANCE</div>
			<div class="qualityInspection scroll-security">
				<form name="qualityInspectionForm" novalidate>
						<!-- <div layout-gt-sm="row"> -->
							<md-input-container class="drop-down"> <label>Invoice
								No*</label> <md-select id="invoiceNumber" ng-model="invoiceId"
								name="invoice" ng-init="getRMOrderInvoiceInformation()"
								ng-change="invoiceRawMaterialList()" required ng-disabled="isInvoiceDisabled">
							<md-option ng-repeat="invoice in invoiceList"
								ng-value="invoice.id"> {{invoice.name}} </md-option> </md-select>
							</md-input-container>
								<div class="ui-msg" ng-show="isInvoice">Please create RM Order first</div>
						<!-- </div> -->
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
							<label class="input-filed-label">DESCRIPTION</label> <input
								type="text" required name="description" ng-model="description"
								value="vendorUser.companyName" ng-minlength="4"
								ng-maxlength="255" limit-to="255">
							<div ng-messages="qualityInspectionForm.description.$error">
								<div ng-message="required">Please enter Description</div>
								<div ng-message="minlength">Description should be minimum
									4 character and maximum 255 character</div>
								<div ng-message="maxlength">Description should be minimum
									4 character and maximum 255 character</div>
							</div>
							</md-input-container>
						</div>
						<h3>Raw Material List</h3>
						<table class="form-table">
							<tr class="form-table-row">
								<th class="table-info">NO</th>
								<th class="table-info">RAW MATERIAL NAME</th>
								<th class="table-info">INVOICE QUANTITY</th>
								<th class="table-info">RECEIVED OK</th>
								<th class="table-info">REMARK</th>
								<th class="table-info">IS RETURN INVOICE</th>
								<th class="table-info">PRICE PER UNIT</th>
								<th>QC Guide Line</th>
							</tr>
							<tr ng-repeat="rmInvoiceItem in rmInvoiceList"  class="form-table-row">
							    <td class="table-info">{{$index+1}}</td>
								<td class="table-info">{{rmInvoiceItem.rmPartNo}}</td>
								<td class="table-info">{{rmInvoiceItem.quantity}}</td>
								<td class="table-info"><md-input-container class="md-block"
										flex-gt-sm> <label
										class="input-filed-label">RECEIVED</label> <input
										type="number" ng-model="rmInvoiceItem.goodQuantity"
										ng-change="checkReceivedQuantity($index)"
										name="recivedOk{{$index}}" max="{{rmInvoiceItem.quantity}}"
										required min="0" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
									  <div ng-show="qualityInspectionForm.recivedOk{{$index}}.$error.required" class="error-msg">
									    Please enter quantity
									  </div>
									<div
										ng-show="qualityInspectionForm.recivedOk{{$index}}.$error.max"
										class="error-msg">The value must be in range 0 to
										{{rmInvoiceItem.quantity}}!</div>
										<div
										ng-show="qualityInspectionForm.recivedOk{{$index}}.$error.min"
										class="error-msg">Invalid Quantity!!Quantity should be 0 or  greater than 0</div>
									</md-input-container></td>
								<td class="table-info"><md-input-container class="md-block" flex-gt-sm>
									<label class="input-filed-label">REMARK</label> <input
										type="text" ng-model="rmInvoiceItem.remark" name="remark">
									<div ng-messages="qualityInspectionForm.remark.$error">
										<div ng-message="required">please enter remark</div>
									</div>
									</md-input-container></td>
								<td class="table-info"><md-input-container class="md-block" flex-gt-sm>
									<md-checkbox ng-model="rmInvoiceItem.isReturnInvoiceInitated"
										aria-label="Checkbox 1"
										ng-checked="{{rmInvoiceItem.isReturnInvoiceInitated}}"
										ng-disabled="{{rmInvoiceItem.ischeckBoxDisabled}}">
									<div ng-messages="qualityInspectionForm.returnInvoice.$error">
										<div ng-message="required">please enter is return
											invoice</div>
									</div></md-input-container></td>
									<td class="table-info"">
									   <md-input-container class="md-block"
										flex-gt-sm> <label
										class="input-filed-label">PRICE PER UNIT</label> <input
										type="number" ng-model="rmInvoiceItem.priceperunit"required min="0" name="ppu" onkeypress='return event.charCode >= 46 && event.charCode <= 57'>
									  <div ng-show="qualityInspectionForm.ppu{{$index}}.$error.required" class="error-msg">
									    Please enter quantity
									  </div>
									  <div ng-show="qualityInspectionForm.ppu{{$index}}.$error.min" class="error-msg">
									    It should be minimum 0
									  </div>
									</md-input-container>
									</td>
									<td><md-button class="actionButton"  ng-click="shoGuideLinePopUp($index)"  style="">Guide Line</md-button></td>
							</tr>
						</table>
						<div class="store-info-btn">
							<md-dialog-actions layout="row"> <md-button
								class="actionButton"
								ng-click="submitInformation(qualityInspectionForm.$valid,$event)"
								type="submit" ng-disabled="isReadOnly" style="">SAVE</md-button> <md-button
								class="actionButton" ng-click="resetQualityInspection()" style="">CANCEL</md-button>
							</md-dialog-actions>
						</div>
				</form>
				
				
				
			</div>
		</div>
		

	</div>
	<div id="guideLinePopUp" style="padding-top: 150px" ng-show="isGuideLinePopUp">

<div class="popup-container">
<div class="pop-up-info">
	<div class="header">Raw Material Quality Guideline</div>
			
     <div align="left" class="show-Guideline">{{rmQCGuidelineList.guidelines}}</div>
     <div class="guideline-information" ng-show="isGuideLinePresent">There is no quality check guidlines for this Raw Material</div>
     
      <div class="cancel-btn"> 
      <md-button class="md-raised" ng-click="cancelGuideLinePopUp()">CANCEL</md-button>
</div>
</div>
</div>
</div>
</div>