<md-dialog class="unit-dialogue">
<form name="rmTypeInformation" novalidate>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{dialogueTitle}}</h2>
		<span flex></span>
		<md-button class="cancel" ng-click="cancel()"> <md-icon
			>&#10006;</md-icon>
		</md-button>
	</div>
	</md-toolbar>
	<md-dialog-content>
	<div class="md-dialog-content">
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
			<label class="input-filed-label">RM TYPE</label> <input type="text"
				ng-model="rmType.rmTypeName" name="rmType" ng-disabled="isReadOnly" required ng-minlength="2" ng-maxlength="255" limit-to="255">
			<div ng-messages="rmTypeInformation.rmType.$error">
				<div ng-message="required">Please enter RM Type</div>
				<div ng-message="minlength">RM Type should be minimum 2 character</div>
				<div ng-message="maxlength">RM Type should be maximum 255 character</div>
			</div>
			</md-input-container>
		</div>
		<md-input-container class="md-block" flex-gt-sm type="password">
		<label class="input-filed-label">DESCRIPTION</label> <input
			type="text" ng-model="rmType.description" name="description"
			ng-minlength="4" ng-maxlength="255" ng-disabled="isReadOnly" required limit-to="255">
		<div ng-messages="rmTypeInformation.description.$error">
			<div ng-message="required">RM Type Description Required</div>
			<div ng-message="minlength">RM Type Description should be minimum
				4 character 255 character</div>
			<div ng-message="maxlength">RM Type Description should be minimum
				4 character 255 character</div>
		</div>
		</md-input-container>
	</md-dialog-content>
	<md-dialog-actions layout="row"> <md-button
		class="md-raised"
		ng-click="submitRMTypeInformation(rmTypeInformation.$valid,$event)"
		type="submit" ng-disabled="rmTypeInformation.$pristine" ng-show="isSaveButtonHide">SAVE</md-button> <md-button
		class="md-raised" ng-click="answer('not useful')">CANCEL</md-button>
	</md-dialog-actions>

</form>
</md-dialog>






