<div ng-controller="securityCheckOutCtrl">

	<div class="">
		<div class="qualitycheck">
			<div class="header">SECURITY CHECK OUT</div>
			<div class="qualityInspection scroll-security">
				<form name="securityInformation" novalidate>
					<div>
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
							<label class="input-filed-label">INVOICE NUMBER </label> <input
								type="text" required name="invoiceNumber" ng-model="invoice_No">
							<div ng-messages="securityInformation.invoiceNumber.$error">
								<div ng-message="required">Please enter Invoice Number</div>

							</div>
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm type="password">

							<label >CLIENT </label> <md-select
								ng-model="selectedClient" name="vendorId"
								ng-disabled="isReadOnly" ng-init="getClientList()" name="vendorId"
								required ng-change="productOrderListByClient()"> <md-option
								ng-repeat="client in clients" ng-value="client.id">
							{{client.companyName}} </md-option>
							</md-select> 
							   <div ng-messages="securityInformation.vendorId.$error">
								<div ng-message="required">Please select Client</div>
							</div>
							</md-input-container>

						</div>
						<div layout-gt-sm="row">
							
							<md-input-container class="md-block" flex-gt-sm>
							<label class="input-filed-label">DRIVER FIRST NAME</label> <input
								type="text" required name="firstName" ng-model="firstName" ng-minlength="2" limit-to="255" ng-maxlength="254"  onkeypress='return event.charCode >= 65 && event.charCode <= 122'>
							<div ng-messages="securityInformation.firstName.$error">
								<div ng-message="required">Please enter Driver First Name</div>
								<div ng-message="minlength">Driver First Name should be minimum 2 character</div>
								<div ng-message="maxlength">Driver First Name should be maximum 255 character</div>
							</div>
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
							<label class="input-filed-label">DRIVER LAST NAME</label> <input
								type="text" required name="lastName" ng-model="lastName" ng-minlength="2" limit-to="255" ng-maxlength="254" onkeypress='return event.charCode >= 65 && event.charCode <= 122'>
							<div ng-messages="securityInformation.driverName.$error">
								<div ng-message="required">Please enter Driver Last Name</div>
								<div ng-message="minlength">Driver Last Name should be minimum 2 character</div>
								<div ng-message="maxlength">Driver Last Name should be maximum 255 character</div>
							</div>
							</md-input-container>
							
						</div>
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
							<label class="input-filed-label">VEHICLE NUMBER  (MH-12 FB-5503)</label> <input
								type="text" required name="vehicleName" ng-model="vehicleNo" placeholder="MH-12 FB-5503">
							<div ng-messages="securityInformation.vehicleName.$error">
								<div ng-message="required">Please enter Vehicle Number</div>
							</div>
							</md-input-container>
							<md-input-container class="md-block" flex-gt-sm>
						<label class="input-filed-label">LICENSE NO</label> <input
							type="text" required name="licence_no" ng-model="licence_no">
						<div ng-messages="securityInformation.licence_no.$error">
							<div ng-message="required">Please enter License No</div>
						</div>
						</md-input-container>
							
						</div>
						
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm>
							<label class="input-filed-label">IN TIME</label> <input
								disabled type="time" name="inTime" ng-model="intime" id="intime" 
								required>
							<div ng-messages="securityInformation.inTime.$error">
								<div ng-message="required">Please enter exact IN Time</div>
							</div>
							</md-input-container>
							
						</div>
						<md-input-container class="md-block" flex-gt-sm>
						<label class="input-filed-label">DESCRIPTION</label> <input
							type="text" required name="description" ng-model="description" ng-minlength="4" limit-to="255" ng-maxlength="254">
						<div ng-messages="securityInformation.description.$error">
							<div ng-message="required">Please enter Description</div>
							<div ng-message="minlength">Description should be minimum 4 character</div>
							<div ng-message="maxlength">Description should be maximum 255 character</div>
						</div>
						</md-input-container>
						<div layout-gt-sm="row">
							<md-input-container class="md-block" flex-gt-sm type="password">
							<label class="input-filed-label">DATE[MM/DD/YYYY]*</label> <input
								type="date" placeholder="Enter date of birth"
								ng-model="createDate " name="createDate" required  ng-disabled=true>
							<div ng-messages="securityInformation.createDate.$error">
								<div ng-message="required">Please enter Date</div>
							</div>
							</md-input-container>
						</div>
						<div layout-gt-sm="row">
							<md-input-container> <label>Product Order</label> 
								<md-select ng-model="productOrders.id" name="rawMaterial" ng-init="getRMInformation()" ng-change="getProductListByProductOrder()" ng-disabled="isProducyOrderDisable"> 
								<md-option ng-repeat="productOrder in clientProductList" ng-value="productOrder.id">{{productOrder.poNO}} </md-option>
								 </md-select>
								 <div ng-messages="securityInformation.rawMaterial.$error">
								    <div ng-message="required">Please Select Product</div>
								 </div>
								 <p ng-show="productOrderMsg" class="ui-msg">Please select Client first</p>
								  <p ng-show="OrderCreationMsg" class="ui-msg">Please create product order for selected client</p>
							</md-input-container>
						</div>
						<div layout-gt-sm="row"></div>
						<h3>Product List</h3>
						<table class="form-table">
							<tr class="form-table-row">
								<th class="table-info">NO</th>
								<th class="table-info">PRODUCT NAME</th>
								<th class="table-info">QUANTITY</th>
								<th class="table-info">REMAINING QUANTITY</th>
								<th>INVOICE QUANTITY</th>
							</tr>
							<tr ng-repeat="product in productOtderList" class="form-table-row">
								<td class="table-info">{{$index+1}}</td>
					   			<td class="table-info">{{product.productId.partNumber}}</td>
								<td class="table-info">{{product.quantity}}</td>
								<td class="table-info">{{product.remainingQuantity}}</td>
								<td><md-input-container class="md-block" flex-gt-sm>
									<label class="input-filed-label">QUANTITY</label><input
										type="number" ng-model="rawmaterial.invoiceQuantity"
										name="invoiceQuantity{{$index}}"
										max="{{rawmaterial.remainingQuantity}}"
										ng-change="toCompareQuantity(rawmaterial.remainingQuantity,rawmaterial.invoiceQuantity)" min="1" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
									<div ng-messages="securityInformation.invoiceQuantity.$error">
										<div ng-message="required">Please Enter Quantity</div>
									</div>
									<div ng-show="securityInformation.invoiceQuantity{{$index}}.$error.min" class="error-msg">
									  Quantity should be greater than 0
									</div>
									<div
										ng-show=" securityInformation.invoiceQuantity{{$index}}.$error.max"
										class="error-msg">The value must be in range 0 to
										{{rawmaterial.remainingQuantity}}!</div>

									</md-input-container></td>
							</tr>

						</table>

						<div class="store-info-btn">
							<md-dialog-actions layout="row"> <md-button
								class="actionButton"
								ng-click="submitInformation(securityInformation.$valid,$event);resteData()"
								type="submit" ng-disabled="isSavebutton">SAVE</md-button> <md-button
								class="actionButton" ng-click="restInformation()" type="reset">CANCEL</md-button>
							</md-dialog-actions>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>