<div ng-controller="unitCtrl">
<div class="erp-information">
    <div>
			<md-button class="md-raised md-primary add-new-btn" ng-click="addNewUnit($event);"  ng-init="populateUnitList();flag=0" style="">ADD NEW UNIT</md-button>
		</div>
		 <md-input-container class="md-block" flex-gt-sm type="password" style="margin-left:2%">
			<input type="text"  ng-model="searchText"  name="password" placeholder="Search by Unit Name" class="search-text">
			</md-input-container>
			<div class="scroll-rm-list">
     <h1 class="table-header">UNIT LIST</h1>
  <table>
			<tr>
				<th>NO</th>
				<th>NAME</th>
				<th>DESCRIPTION</th>
				<th>ACTION</th>
			</tr>
			<tr ng-repeat="units in units | filter: name: searchText | startFrom:currentPage*pageSize | limitTo:pageSize  " >
				<td>{{(currentPage*pageSize) + ($index+1) }}</td>
				<td>{{units.name}}</td>
				<td>{{units.description}}</td>
				<td>
				     
				 
				 <div class="lock-size" layout="row" layout-align="center center" style="margin-left: -29%">
					<md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode" >
        				<md-fab-trigger>
					          <md-button class="md-fab" style="background-color: #106CC8;">
					            <i class="material-icons">more_vert</i>
					          </md-button>
        				</md-fab-trigger>

				        <md-fab-actions>
				          <md-button class="md-fab md-raised md-mini actionButton" ng-click="viewUnitInformation($event,$index)">
				            <i class="material-icons">launch</i>
				            <md-tooltip>View</md-tooltip>
				          </md-button>
				          <md-button class="md-fab md-raised md-mini actionButton"  ng-click="editUnitInformation($event,$index)" 
								ng-init="flag=1">
				            <i class="material-icons">mode_edit</i>
				            <md-tooltip>Edit</md-tooltip>
				          </md-button>
				          <md-button class="md-fab md-raised md-mini actionButton" ng-click="showConfirm($event,$index)">
				            <i class="material-icons">delete</i>
				            <md-tooltip >Delete</md-tooltip>
				          </md-button>
				        </md-fab-actions>
      				</md-fab-speed-dial>	
				</div>
				 
				 
				</td>
			</tr>
		</table>
		  <md-dialog-actions layout="row" style="" class="paginationBtn" ng-show="isPaginationPageHide"> <md-button
		class="md-raised"
		type="button" ng-disabled="currentPage == 0" ng-click="gotoPrevPage()">Previous Page</md-button> <md-button
		class="md-raised" ng-disabled="currentPage >=units.length/pageSize - 1" ng-click="gotoNextPage()">Next Page</md-button>
	</md-dialog-actions>
	<!-- <div class="total-pages">Total no of pages {{currentPage+1}} / {{totalNoOfPages()}}</div> -->
	</div>
		<div ng-show="isUnitInPresent" class="active-information">
		   Currently there are no active Units.Please add new unit.
		</div>
</div>

</div>